body {
  padding-top: 100px;
}

/* Header */
#app .navbar {
  border: 1px solid black;
}

#app .Header .navbar-brand {
  margin-left: 10px;
  font-size: 25px;
}

/* Storage */
@media (min-width: 768px) {
  #app .Storage {
    max-width: 800px;
  }
}

/* Picker */
#app .PickerBar {
  width: 100%;
}

#app .PickerBar > .btn {
  width: 50%;
  border-radius: 0px;
  margin-left: 0px;
}

/* Dropzone */
#app .Dropzone {
  border: 1px dashed black;
  /*border-top: 0px;*/
  height: 250px;
}

#app .Dropzone > div {
  text-align: center;
  height: 250px;  
  line-height: 250px;
}

#app .Dropzone span {
  display: inline-block;;
  vertical-align: middle;
}

/* FileList */
#app .FileList {
  padding-top: 50px;
  border: 0px;
}

#app .FileList table {
  table-layout: fixed;
}

#app .FileList th, td {
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

#app .FileList .size {
  width: 70px;
}

#app .FileList .delete-cross {
  width: 55px;
  font-size: 22px;
  padding-top: 0px;
}

#app .FileList .delete-cross a {
  cursor: pointer;
}

#app .FileList th:nth-child(1) {
  text-align: left;
}
