body {
  padding-top: 100px;
}

#app {
  font-family: 'Source Sans Pro', 'Helvetica';
}

/* Header */
#app .navbar {
  /*border: 1px solid black;*/
  background-color: #4CCEAD;
  border-bottom: 2px solid #32B594;
  /*text-transform: uppercase;*/
}

#app .Header .navbar-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  font-size: 24px;
  color: #FFFFFF;
}

#app .Header .logo {
  padding: 5px;
  padding-left: 30px;
}

#app .Header .navbar-brand img {
  width:30px;
}

/* Storage */
@media (min-width: 768px) {
  #app .Storage {
    max-width: 800px;
  }
}

/* Picker */
#app .PickerBar {
  width: 100%;
  display: none;
}

@media (min-width: 479px) {
  #app .PickerBar {
    width: 100%;
    display: initial;
  }
}

#app .PickerBar > .btn {
  width: 50%;
  border-radius: 0px;
  border: 2px solid #3366CC;
  margin-left: 0px;
  background-color: #FFFFFF;
  color: #3366CC;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#app .PickerBar > .ComputerPicker {
  border-right: 0px;
}

#app .PickerBar > .btn:hover, .btn:focus {
  color: #FFFFFF;
  background-color: #3366CC;
  border: 2px solid #3366CC;
}

#app .ComputerPicker input {
  display: none;
  border-right: 0px;
}

/* Dropzone */
#app .Dropzone {
  border: 2px dashed #3366CC;
  /*border-top: 0px;*/
  height: 250px;
}

#app .Dropzone > div {
  text-align: center;
  height: 250px;  
  line-height: 220px;
}

#app .Dropzone span {
  display: inline-block;;
  vertical-align: middle;
  color: #3366CC;
}

/* SuccessUploadAlert */

#app .SuccessUploadAlert {
  margin-top: 20px;
  background-color: #3366CC;
  padding: 15px;
  border-radius: 4px;
  color: #FFFFFF;
  /*font-weight: bold;*/
} 

#app .FailedUploadAlert {
  border: 0px;
  background-color: #FF5B5B;
  color: #FFFFFF;
}

#app .FailedUploadAlert .close span {
  color: #FFFFFF;
}

/* FileList */
#app .FileList {
  padding-top: 20px;
  border: 0px;
}

#app .FileList table {
  table-layout: fixed;
}

#app .FileList th, td {
  color: #3366CC;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

#app .FileList a {
  color: #3366CC;
}

#app .FileList .size {
  width: 100px;
  color: #4CCEAD;
}

#app .FileList a:visited {
  text-decoration: none;
}

#app .FileList .delete-cross {
  width: 55px;
  font-size: 22px;
  padding-top: 0px;
  color: red;
}

#app .FileList .delete-cross a {
  cursor: pointer;
  color: #FF5B5B;
}

#app .FileList th:nth-child(1) {
  text-align: left;
}

