body {
  padding-top: 100px;
}

/* Header */
#app .navbar {
  border: 1px solid black;
}

#app .Header .navbar-brand {
  margin-left: 30px;
}

/* Storage */
@media (min-width: 768px) {
  #app .Storage {
    max-width: 950px;
  }
}

/* Picker */
#app .Picker {
  width: 100%;
}

#app .Picker > .btn {
  width: 33.333%;
  border-radius: 0px;
  margin-left: 0px;
}

/* Dropzone */
#app .Dropzone {
  border: 1px dashed black;
  border-top: 0px;
  height: 250px;
}

#app .Dropzone > div {
  text-align: center;
  height: 250px;  
  line-height: 250px;
}

#app .Dropzone span {
  display: inline-block;;
  vertical-align: middle;
}



