body {
  padding-top: 200px;
  background-color: #4CCEAD;
}

#app {
  font-family: 'Source Sans Pro', 'Helvetica';
}

/* Main */
@media (min-width: 0px) {
  #app .Main {
    width: 360px;
  }
}

@media (min-width: 480px) {
  #app .Main {
    width: 480px;
  }
}

/* Branding */
#app .Branding {
  margin: 0 auto;
  color: #FFFFFF;
  display: table;
}

#app .Branding span {
  font-weight: lighter;
  text-transform: uppercase;
}

#app .Branding p {
  font-size: 15px;
  text-align: center;
}

@media (min-width: 0px) {
  #app .Branding span {
    font-size: 48px;
  }

  #app .Branding img {
    width: 40px;
    margin-top: -30px;
    margin-right: 10px;
    margin-left: 25px; 
  }
}

@media (min-width: 480px) {
  #app .Branding span {
    font-size: 64px;
  }

  #app .Branding img {
    width: 45px;
    margin-top: -40px;
    margin-right: 10px;
    margin-left: -5px;
  }
}

/* LoginBox */ 

#app .LoginBox {
  display: table;
  margin: 0 auto;
}

#app .LoginBox .btn{
  display: block;
  width: 300px;
  padding: 15px;
  margin: 15px;
  border: 0px;
  font-weight: bold;
}

#app .LoginBox .fb {
  color: #3B5998;
  background-color: #FFFFFF;
}

#app .LoginBox .fb:hover {
  color: #FFFFFF;
  background-color: #3B5998;
  border: 2px solid #FFFFFF;
  /*margin-bottom: -4px;*/
  padding: 13px;
}

#app .LoginBox .guest {
  color: #4CCEAD;
  background-color: #FFFFFF;
}

#app .LoginBox .guest:hover {
  color: #FFFFFF;
  background-color: #4CCEAD;
  border: 2px solid #FFFFFF;
  padding: 13px;
}




