<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
  <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
  <title>FileZone</title>
</head>

<body>
  <div id="app"></div>

  <!-- Scripts -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : 1834881753446729,
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.8' // use graph api version 2.8
      });
    };

    // Load the FB SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>  
  <script type="text/javascript" src="{{url_for('static', filename='dist/login.js')}}"></script>
</body>
</html>
